body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

main h1 {
    padding-inline-start: 20px;
}

.age-group-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}

.age-group {
    width: 180px;
    background-color: lightblue;
    border: 2px solid gray;
    text-align: center;
    margin: 0 10px;
}

.age-group-title {
    font-size: 0.9rem;
    font-weight: 700;
}

.age-group-content {
    font-size: 1.5rem;
}

#birthdays {
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    font-weight: 900 !important;
}

#g2 {
    background-color: lightpink;
}