body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

main h2 {
    text-align: center;
    text-transform: capitalize;
}

main .birthday-msg {
    text-align: center;
    font-size: 2.5rem;
    color: darkmagenta;
    font-family: cursive, sans-serif;
}

.hidden {
    display: none;
}