body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}


main table {
    width: 100%;
    border: 2px solid gray;
    border-collapse: collapse;
}

main thead {
    background-color: #444444;
    color: white;
}

td, th {
    padding: 5px 10px;
    text-align: left;
}