* {
    font-family: Arial;
}

table {
    border: 4px outset lightgrey;
}

td, th {
    border: 1px inset lightgrey;
}

.head-1 {
    min-width: 450px;
}

.head-3 {
    min-width: 200px;
}

.bg-graphic {
    background-color: lightblue;
    background: url('img/bg-image.jpg') grey;
    background-size:cover;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.tx-nowrap {
    white-space: nowrap;
}

.tx-white {
    color: white;
}

.tx-pink {
    color: palevioletred;
}

.v-top {
    vertical-align: top;
}

.tx-center {
    text-align: center;
}

.tx-right {
    text-align: right;
}

.tx-bold {
    font-weight: 700;
}

.tx-obl {
    font-style: oblique;
}

.tx-vert {
    writing-mode:vertical-lr;
    text-orientation: upright;
}

.tx-horz {
    writing-mode: horizontal-tb;
}

.m-auto {
    margin: auto;
}