nav {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: inline-block;
}

.nav-item {
    display: inline-block;
    margin-left: 25px;
    color: olive;
    border-radius: 5px;
    padding: 5px;
    background-color: #B6D7A8;
}

.title {
    font-size: 2rem;
    background: none !important;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: olive;
    background-color: #B6D7A8;
}

