* {
    box-sizing: border-box;
    font-size: small;
}

table {
    border: 1px double black;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
}

thead {
    background-color: palegreen;
}

th, td {
    border: 1px solid;
    padding: 10px 5px 5px 5px;
}

th[scope="row"] {
    vertical-align: top;
    text-align: left;
    background-color: aqua;
}

td:nth-child(2) {
    background-color: white;
}

td:nth-child(3) {
    background-color: pink;
}

td:nth-child(4) {
    background-color: #ffff44;
}

.grp-1:first-of-type th,
.grp-1:first-of-type td {
    border-bottom: hidden;
}

.grp-1:last-of-type td,
.grp-1:last-of-type th {
    border-top: hidden;
}
